:root {
  --main-color: #26c7ea;
  --accent-color: #000;
  --btn-bg-color: #0b0e66;
  --text-color: #fff;
  --add-color: #141414;
}

.container {
  width: 1037px;
  margin: 0 auto;
  padding: 0 15px;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  padding: 39px 0;
  border-bottom: 3px solid var(--text-color);
  max-width: 1540px;
  margin: 0 auto;

  background-image: linear-gradient(
      to right,
      rgba(43, 74, 97, 0.87),
      rgba(43, 74, 97, 0.8)
    ),
    url("../images/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-position {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  justify-content: center;
  margin-left: 168px;
  column-gap: 38px;
  width: 325px;
}

.navigation-link {
  color: var(--text-color);
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2;
}

.navigation-link:hover {
  color: #94cfff;
}

.header-btn {
  border-radius: 45px 0px;
  border: 2px solid var(--main-color);
  padding: 9px 38px 8px 38px;
  margin-left: 210px;
  margin-right: 47px;

  background: var(--btn-bg-color);
  color: var(--main-color);
  font-family: HeadlandOne, sans-serif;
  font-size: 20px;
  line-height: 1.25;
}

.header-eng-btn {
  padding: 9px 37px 8px 36px;
}

.btn-eng-amount {
  width: 68px;
  display: block;
}

.header-language-list {
  display: flex;
  column-gap: 20px;
  width: 107px;
}

.header-language-item {
  background-color: var(--text-color);
  padding: 8px;
  border-radius: 15px;
}

.header-language-item:hover {
  box-shadow: -2px 3px 7px 1px rgb(26, 255, 26);
}

.header-language-link {
  color: var(--accent-color);
  font-family: Hammersmith One, sans-serif;
  line-height: 1.25;
}

.hero {
  padding: 180px 0;
  max-width: 1540px;
  margin: 0 auto;

  background: url("../images/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
}

.hero-text,
.hero-translate-text {
  color: var(--text-color);
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}

.hero-text {
  width: 298px;
}

.hero-text::after {
  content: "";
  display: block;
  height: 40px;
  width: 152px;
  margin: 0 auto;

  background-image: url("../images/symbol.png");
  background-repeat: no-repeat;
}

.text-wrapper {
  width: 376px;
}

.list-wrapper {
  display: flex;
  align-items: end;
}

.hero-list {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.hero-img {
  border-radius: 7px;
}

.hero-btn {
  padding: 10px 30px;
  margin-top: 42px;
  border-radius: 45px 0px;
  border: 3px solid var(--main-color);

  background: var(--btn-bg-color);
  color: var(--main-color);
  font-family: HeadlandOne, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.25;
}

.btn-amount {
  width: 199px;
  display: block;
}

.hero .btn-eng-amount {
  width: 111px;
}

.hero-eng-btn {
  padding: 25px 75px;
}

.quote {
  padding-top: 75px;
  padding-bottom: 10px;
}

.quote-title {
  margin-bottom: 16px;

  color: var(--add-color);
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.222;
}

.quote-name {
  margin-bottom: 8px;

  color: var(--accent-color);
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.208;
}

.quote-name::after {
  content: "";
  height: 120px;
  display: block;
  margin: 0 auto;
  width: 400px;

  background-image: url(../images/symbol-bird.png);
  background-repeat: no-repeat;
}

.trailer {
  padding: 330px 0;
  max-width: 1540px;
  margin: 0 auto;

  background-image: url("../images/trailer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.link-position {
  margin: 0 auto;
  text-align: center;
}

.trailer-link {
  border-radius: 45px 0px;
  border: 3px solid var(--main-color);
  padding: 25px 20px;

  background: var(--btn-bg-color);
  color: var(--main-color);
  font-family: HeadlandOne, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.25;
}

.trailer-eng-link {
  padding: 25px 17px;
}

.language {
  max-width: 1540px;
  margin: 0 auto;
  padding: 58px 0;

  background-image: url("../images/language-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.language-title {
  margin-bottom: 45px;

  color: var(--add-color);
  text-align: center;
  font-family: HeadlandOne, sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.25;
}

.language-list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 36px;
  row-gap: 24px;
  flex-wrap: wrap;
}

.language-item {
  padding: 36px 0;
  flex-basis: 311px;

  background-color: rgba(255, 255, 255, 0.7);
}

.symbol-weapon::after {
  content: "";
  width: 152px;
  margin: 0 auto;
  height: 40px;
  display: block;

  background-image: url("../images/symbol-weapon.png");
  background-repeat: no-repeat;
}

.symbol-bird::after {
  content: "";
  width: 152px;
  margin: 0 auto;
  height: 40px;
  display: block;

  background-repeat: no-repeat;
  background-size: 152px 40px;
  background-image: url("../images/symbol-bird.png");
}

.reverse-symbol::after {
  content: "";
  width: 152px;
  margin: 0 auto;
  height: 40px;
  display: block;
  background-image: url("../images/reverse-symbol.png");

  background-repeat: no-repeat;
  background-size: 152px 40px;
}

.reverse-symbol::after,
.symbol-bird::after,
.symbol-weapon::after {
  content: "";
  display: block;
  margin-top: 40px;
}

.language-item-title {
  margin-bottom: 40px;

  color: var(--add-color);
  text-align: center;
  font-family: HeadlandOne, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
}

.language-item-translate {
  margin-top: 40px;

  color: var(--accent-color);
  text-align: center;
  font-family: HeadlandOne, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
}

.footer {
  max-width: 1540px;
  margin: 0 auto;
  padding-top: 77px;
  padding-bottom: 25px;

  background-image: linear-gradient(
      to right,
      rgba(43, 74, 97, 0.8),
      rgba(43, 74, 97, 0.87)
    ),
    url("../images/footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-position {
  display: flex;
  align-items: center;
  justify-content: start;
}

.footer .logo {
  margin-right: 80px;
}

.logo-wrapper {
  border-right: 2px solid var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-item {
  display: flex;
  align-items: center;
}

.footer-item:nth-child(1) {
  margin-bottom: 16px;
}

.footer-coop-item {
  min-width: 769px;
}

.footer-item-title {
  margin-right: 20px;
  padding-left: 80px;

  color: var(--text-color);
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}

.footer-item-link {
  margin-left: 20px;

  color: var(--text-color);
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}

.copy {
  margin-top: 37px;

  text-align: center;
  color: var(--text-color);
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
}
